/* MENU BAR */
    .menuBar{
        top: 0;
        height: 60px;
        width: 1350px;
        z-index: 4;
        display: none;
        position: fixed;
        background: white;
    }
    .logo{
        position: absolute;
        margin-left: 100px;
        margin-top: 30px;
        z-index: 4;
    }
    .menu{
        margin-top: 30px;
    }
    .menu > li{
        margin-right: 20px;
        display: inline;
    }
    .menu > li:first-child{
        margin-left: 800px;
    }
/* END OF MENU BAR */

/* HERO SECTION */
    .siteTitle{
        color: white;
        font-size: 80px;
        margin-top: 0px;
        padding-top: 200px;
        text-shadow: 0 0 10px #151B54;
    }
    .phrases{
        color: white;
        font-size: 35px;
        padding-bottom: 390px;
        text-shadow: 0 0 10px black;
    }
    .hero{
        background-image: url(../img/home.jpg);
        background-size: 100% 100%;
    }
    .scroll{
        font-size: 25px;
        margin-top: -150px;

    }
    .scroll:last-child{
        font-size: 15px;
        margin-top: 10px;
    }
    .down > a{
        color: #488AC7;
        text-decoration: none;
    }
    .down > a:hover{
        color: #157DEC;
        text-decoration: none;
    }
/* END OF HERO SECTION */

/* ARTICLE SECTION */
    .topStories{
        font-family: Verdana;
        margin-top: 190px;
        margin-left: -50px;
        font-size: 60px;
        color: #5C5858;
    }
    .post-preview > a:hover{
        color: #3090C7;
        text-decoration: none;
    }
    .post-preview{
        color: #659EC7;
        padding-left: 350px;
        padding-bottom: 50px;
    }
    .first{
        padding-top: 120px;
    }
    .title{
        color: #659EC7;
        font-size: 30px;
        margin-top: -180px;
    }
    .subtitle{
        color: #659EC7;
        font-size: 20px;
    }
    .articleThumb{
        height: 250px;
        width: 250px;
        margin-top: 50px;
        margin-left: -320px;
        margin-right: 170px;
        padding-bottom: 40px;
    }
    .post-meta{
        color: #87AFC7;
    }
/* END ARTICLE SECTION */

/* ARTICLE TOPIC */
    .articleTitle > div > h1{
        color: white;
        height: 400px;
        margin-top: -10px;
        padding-top: 110px;
        background-image: url(../img/portal.jpg);
        font-family: Impact;
        font-size: 60px;
    }
    .topicPhrase{
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  
    }
    .timePhrase{
        text-shadow: 1px 1px 2px orange, 0 0 25px orange, 0 0 5px red;
    }
    .selectTopics{
        padding-top: 150px;
        padding-bottom: 200px;
    }
    .subTitles{
        font-family: "Arial Black";
        font-size: 40px;
    }
    .topicThumb{
        height: 200px;
        width: 200px;
        margin-top: 80px;
        margin-right: 30px;
    }
    .at{
        color: #15317E;
        font-size: 25px;
        padding-left: 40px;
        padding-top: 20px;
    }
    .selectYears{
        padding-top: 260px;
        padding-bottom: 150px;
    }
    .topics > li{
        display: inline;
        float: left;
    }
    .timeLine{
        width: 70%;
        z-index: -1;
        margin-left: -705px;
        padding-top: 175px;
        position: absolute;
    }
    .ay:first-child{
        margin-left: -30px;
    }
    .ay{
        margin-top: 120px;
        padding-right: 70px;
    }
    .y{
        padding-bottom: 150px;
        margin-top: 80px;
    }
/* END ARTICLE TOPIC */

/* ABOUT HERO */
    .aboutTitle{
        color: white;
        height: 450px;
        text-shadow: 0 0 10px black;
    }
    .AboutTitles{
        position: absolute;
        padding-top: 150px;
        padding-left: 35%;
        z-index: 999;
    }
/* END ABOUT HERO */

/* ABOUT ABOUT */
    #mainPic{
        width: 100%;  
    }
    #hero > div > img{
        width: 100%;
        height: 400px;
    }
    #hero div {
        position:absolute;
        z-index: 0;
    }
    #hero div.previous {
        z-index: 1;
    }
    #hero div.current {
        z-index: 2;
    }
    .infoAbout > div{
        float: left;
        width: 150px;
        margin-left: 20px;
        margin-top: 40px;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .aboutTitle > div > h1{
        font-size: 55px;
    }
    .aboutSub{
        font-size: 25px;
    }
    .aboutImg{
        height: 40px;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 5px 5px grey;
        background-image: url(../img/me.jpg);
        background-size: 100% 100%;
    }
    .aboutImg:hover{
        background-image: url(../img/me2.jpg);
    }
    .aboutMe{
        font-family: 'Comic Sans MS';
        position: absolute;
        margin-top: 180px;
        margin-left: -100px;
        text-indent: 50px;
        width: 800px;
    }
    .contactLinks{
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 180px;
    }
    .contactLinks > p{
        font-family: 'Courier New';
    }
    .mail{
        font-size: 10px;
        padding-left: 10px;
    }
    .socialLinks > a > img{
        height: 50px;
        width: 50px;
        margin-left: 100px;
        margin-top: 20px;
        border-radius:10px;
    }
    .socialLinks > a > img:hover{
        box-shadow: 5px 5px black;
    }
/* END ABOUT ABOUT */

/* SPECIFIC ARTICLES */
    .articlesTitle{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .articleList > ul > li{
        display: inline;
    }
/* END SPECIFIC ARTICLES */
    
/* SUBSCRIBE HERO */
    .subscribeTitle{
        color: white;
        height: 450px;
        text-shadow: 0 0 10px black;
    }
    .titleSub{
        position: absolute;
        padding-top: 150px;
        padding-left: 35%;
        z-index: 999;
    }
/* SUBSCRIBE HERO */

/* SUBSRIBER */
    .upTech{
        position: absolute;
    }
    .upAll{
        position: absolute;
    }
    .subThumb{
        height: 150px;
        width: 150px;
        margin-left: 50px;
        margin-top: 50px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    .subThumb:hover{
        border-radius: 50%;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    .pitch{
        padding-top: 40px;
        margin-left: 120px;
    }
    .formSubscribe{
        width: 250px;
        margin-top: 30px;
        margin-left: 230px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        border-width: 5px;
        border-style: double;
    }
    .subscribeSubmit{
        margin-top: 10px;
    }
/* END SUBSRIBER */

/* CONTACT HERO */
    .titleContact{
        height: 450px;
        padding-bottom: 20px;
        background-image: url(../img/contact.png);
        background-size: 100% 100%;
    }
/* CONTACT HERO */

/* CONTACTER */
    .commentOfComment{
        font-size: 16px;
        padding-top: 20px;
        margin-left: 80px;
    }
    .formContact{
        width: 280px;
        margin-top: 30px;
        margin-left: 220px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-width: 4px;
        border-style: double;
    }
    .msg{
        margin-left: 40px; 
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .submit{
        margin-left: 80px;
    }
/* END CONTACTER */

/* THE ARTICLE */
    .theArticleTitle > img{
        border: 1px solid black;
        height: 400px;
        width: 100%;
    }
    .theArticleTitle > h1{
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  
        padding-top: 50px;
        margin-top: -200px;
        color: white;    
    }
    .published{
        padding-bottom: 100px;
        padding-top: 150px;
        color: gray;
    }
    .releaseDate{
        padding-bottom: 100px;
    }
    .article{
        padding-left: 150px;
    }
    .info{
        font-size: 100%; 
        line-height: 200%;
        text-indent: 50px;
        padding-bottom: 100px;
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    }
    .blog{
        height: 200px;
        width: 400px;
        margin-left: 430px;
        margin-top: 100px;
        margin-bottom: 300px;
        padding-top: 100px;
        padding-bottom: 100px;
        border-radius: 13px;
        background-color: #ededed;
    }
    .blog > h4{
        float: left;
        margin-top: -80px;
        padding-left: 40px;
    }
    .blog > form > button{
        margin-top: 10px;
        margin-left: 30px;
    }
    .blog > form{
        padding-bottom: 50px;
    }
    .blogText{
        width: 350px;
        margin-left: 25px;
        margin-top: -30px;
        max-width: 90%; 
        max-height: 125px;
    }
    .blogCommentsApproved > p{
        padding-bottom: 25px; 
    }
    aside{
        height: 300px;
        width: 200px;
        margin-top: -40%;
        border-radius: 25px;
        background-color: #f0f0f5;
        -webkit-box-shadow: 18px 10px 42px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 10px 42px 6px rgba(0,0,0,0.75);
        box-shadow: 18px 10px 42px 6px rgba(0,0,0,0.75);
    }
    aside > div{
        width: 180px;
        position: absolute;
        margin-top: 45px;
        margin-left: 10px;
    }
    aside > div > a{
        padding-left: 35px;
    }
/* END THE ARTICLE */


/* FOOTER */
    footer{
        height: 70px;
        background-color: #4863A0;
    }
    .copyright{
        color: white;
        padding-top: 30px;
    }
/* END FOOTER */

@media screen and (max-width: 500px) { /* xxs */
    .logo{
        margin-top: 34px;
        margin-left: 1px;
        font-size: 10px;
    }
    .menu > li{
        margin-right: 20px;
        font-size: 10px;
    }
    .menu > li:first-child{
        margin-left: 115px;
    }
    .topStories{
        font-size: 45px;
        margin-top: 250px;
    }
    .title{
        font-size: 18px;
        margin-left: -100px;
    }
    .subtitle{
        font-size: 10px;
        margin-left: -100px;
    }
    .post-meta{
        font-size: 8px;
        margin-left: -100px;
    }
    .articleThumb{
        width: 150px;
        height: 150px;
    }
    .down{
        margin-top: -280px;
    }
    .articleTitle > div > h1{
        background-size: 100% 100%;
    }
    .topicThumb{
        height: 300px;
        width: 300px;
    }
    .at{
        margin-left: 60px;
    }
    .at:last-child{
        padding-bottom: 100px;
    }
    .timeLine{
        width: 60%;
        margin-left: 30px;
        margin-top: -20px;
    }
    .topics{
        margin-left: -10px;
        font-size: 8px;
    }
    .ay{
        padding-right: 40px;
    }
    .aboutMe{
        font-size: 10px;
        margin-left: 5px;
        padding-top: 40px;
        width: 350px;
    }
    .socialLinks > a > img{
       margin-left: 10px;
    }
    .contactLinks{
        padding-bottom: 220px;
    }
}
@media (min-width: 501px) and (max-width: 659px) { /* xs */
    .logo{
        margin-left: 20px;
        font-size: 13px;
    }
    .menu > li{
        margin-right: 20px;
        font-size: 13px;
    }
    .menu > li:first-child{
        margin-left: 205px;
    }
    .articleTitle > div > h1{
        background-size: 100% 100%;
    }
    .topicThumb{
        height: 350px;
        width: 350px;
        margin-left: 80px;
    }
    .at{
        font-size: 35px;
        margin-left: 120px;
    }
    .at:last-child{
        margin-bottom: 100px;
    }
    .timeLine{
        width: 50%;
        margin-top: -20px;
        margin-left: 40px;
    }
    .ay{
        padding-right: 40px;
        font-size: 10px;
    }
    .y{
       font-size: 10px;
       margin-left: -15px;
    }
    .socialLinks > a > img{
        margin-left: 20px;
    }
    .socialLinks > a > img:first-child{
        margin-left: 30px;
    }
    .aboutMe{
        margin-top: 210px;
        margin-left: 5px;
        width: 500px;
    }
}
@media (min-width: 660px) and (max-width: 767px ) { /* sm */
    .logo{
        margin-top: 32px;
        margin-left: 40px;
        font-size: 13px;
    }
    .menu > li{
        margin-right: 20px;
        font-size: 13px;
    }
    .menu > li:first-child{
        margin-left: 285px;
    }
    .title{
        font-size: 20px;
        margin-left: -40px;
    }
    .subtitle{
        font-size: 13px;
        margin-left: -40px;
    }
    .post-meta{
        font-size: 10px;
        margin-left: -40px;
    }
    .down{
        margin-top: -160px;
    }
    .post-preview{
        padding-bottom: 80px;
    }
    .articleTitle > div > h1{
        background-size: 100% 100%;
    }
    .topicThumb{
        height: 140px;
        width: 140px;
    }
    .at{
        font-size: 18px;
    }
    .timeLine{
        margin-top: -30px;
        margin-left: 80px;
    }
    .ay{
        padding-right: 55px;
        font-size: 13px;
    }
    .y{
       font-size: 13px;
       margin-left: 35px;
    }
    .socialLinks > a > img:first-child{
        margin-left: 60px;
    }
    .aboutMe{
        font-size: 15px;
        margin-left: 5px;
        margin-top: 200px;
        width: 580px;
    }
}
@media (min-width: 768px ) and (max-width: 960px) { /* md */
    .menu > li:first-child{
        margin-left: 450px;
    }
    .topicThumb{
        height: 180px;
        width: 180px;
    }
    .at{
        font-size: 20px;
    }
    .timeLine{
        margin-top: 10px;
        margin-left: -650px;
    }
    .ay{
        padding-right: 72px;
        font-size: 13px;
    }
    .aboutMe{
        margin-left: 15px;
        width: 580px;
    }
}
@media (min-width: 961px ) and (max-width: 1120px) { /* lg */
    .menu > li:first-child{
        margin-left: 480px;
    }
    .topicThumb{
        height: 180px;
        width: 180px;
    }
    .at{
        font-size: 20px;
    }
    .timeLine{
        margin-top: 10px;
        margin-left: -650px;
    }
    .ay{
        padding-right: 72px;
        font-size: 13px;
    }
}