
				
				/*Whole html & body*/
				html{
						
						background-color : #7C7A8F;
				}
				
				body{
				
						width : 900px;
						margin: auto;
						background-color : white;
				}
			
			
				/*Top Main Desolve Logo & Txt*/
				#logo{
						
						background-color : #646266;
						padding-bottom : 10px;
						color : white;
				
				}
				#logo b{
				
						font-family: mainLogo;
						letter-spacing : -4px;
						font-size : 40px;
						margin-top : 40px;
						padding-left : 10px;
						position : absolute;
				}
				#logo span{
				
						font-family : mainPhrase;
						padding-left : 215px;
						padding-top : 60px;
						position : absolute;
				}
				#logo img{
				
						margin-left : 50px;
						padding-top : 20px;
				}
				#logo b, #logo span{
				
						color : white;
				}
				
				
				/*Top Navigation Bar & Images*/
				nav a{
							
						font-family: titleFont;
						text-decoration : none; 
						float : left;
						padding-right : 60px;
						text-align : center;
						color : black;
				}
				nav a:nth-child(1){
							
						margin-top : 3px;
						padding-left : 50px;
				}
				nav a:nth-child(2) p{
							
						padding-right : 40px;
						border-right : 1px dotted black;
				}
				nav a:nth-child(3) p{
							
						margin-left : -35px;
						border-right : 1px dotted black;
				}
				nav a:nth-child(2):hover p{
						
						border-right : 1px dotted orange;
				}
				nav a:nth-child(3):hover p{
						
						border-right : 1px dotted orange;
				}
				nav a:hover p,a:hover i{
						
						color : orange;
				}
				nav a p{
						
						font-size : 90%;
						margin-top : -25px;
				}
				nav i{
						
						font-size : 70%;
						color : black;
				}
				nav a:nth-child(1) img{
				
						margin-left : -140%;
				}
				nav a:nth-child(2) img{
				
						margin-left : -90%;
				}
				nav a:nth-child(4) img{
				
						margin-left : -130%;
				}
				nav img{
				
						margin-top : 10px;
						margin-left : -115%;
				}
				
				
				/*Big Main Picture, Side Description, & Bottom Left Phrase*/
				#main{
				
						background-image : url("img/sm_skyline.jpg");
						background-size : 900px 200px;
						height : 200px;
						background-repeat:no-repeat;
						clear : both;
				}
				
				#des{
				
						opacity: 0.8;
						background-color : #7C7A8F;
						height : 200px;
						width : 226px;
						float : right;
				}
				#des p{
					
						color : white;
						font-size : 90%;
						padding : 0 15px 0 15px;
				}
				
				#phrase{
				
						font-family : titleFont;
						color : white;
						font-size : 140%;
						padding-top : 140px;
						margin-left : 40px;
						margin-right : 400px;
				}
				
				
				/*Aside; Side Link Table & Contest*/
				aside{
				
						clear : right; 
						float : right;
						width : 190px;
						height : 875px;
						padding-top : 40px;
						padding-right : 35px;
				}
				aside a{
						
						color : black;
						padding-left : 10px;
						text-decoration : none; 
				}
				aside p{
						
						text-align : left;
						font-size : 70%;
						font-family : mainFont;
				}
				aside h5{
				
						font-weight : normal;
						text-align : center;
				}
				aside th{
				
						font-weight : normal;
						font-size : 90%;
						padding-bottom : 15px;
				}
				aside td{
				
						font-family : titleFont;
						font-size : 70%;
						padding-right : 80px;
				}
				aside td:hover{
				
						opacity: 0.8;
				}
				aside tr:nth-child(odd) td{
				
						background-color : #EEE5D7;
				}
				aside tr:nth-child(even) td{
				
						background-color : #D9D6BD;
				}
				aside div{
						text-align : center;
				}
				aside #current{
						padding-top : 10px;
				}
				
				
				
				/*Main Paragraph aka Main Table*/
				#mainTable{
				
						padding-right : 40px;
						padding-left : 45px;
						padding-top : 20px;
				}
				#mainTable th{
					
						font-family : mainFont;
						font-weight : normal;
						padding-bottom : 5px;
						text-align : left;
						border-bottom : 1px solid black;
				}
				#mainTable th p{
				
						padding-top : 40px;
						font-size : 130%;
						margin-top : -5%;
				}
				#mainTable th p img{
				
						padding-left : 350px;
						margin-bottom : -1%;
				}
				#mainTable td{
				
						font-size : 70%;
						font-family : titleFont;
						text-align : left;
				
				}
				#mainTable tr td p{
				
						padding-top : 20px;
						padding-bottom : 20px;
				}
				#mainTable tr td{
				
						padding-top : 15px;
				}
				#mainTable a{
				
						color : orange;
						text-decoration : none; 
						border-bottom : 1px dotted orange;
				}
				
				
				/*Below Main Paragraph, Box Paragraphs*/
				#boxes{
						
						margin-right : 226px;
						padding-bottom : 300px;
				}
				#boxes h4{
						
						font-weight : normal;
						border-bottom : 1px solid black;
				}
				
				#fBox{
				
						border-radius: 6px 0 6px 0;
						font-family : mainFont;
						background-color : #EEE5D7;
						margin-right : 350px;
						margin-left : 45px;
						margin-top : 7px;
						padding : 10 15 10 15;
				}
				#fBox p, ul{
						font-size : 70%;
				}
				
				#sBox{
				
						border-radius: 6px 0 6px 0;
						font-family : mainFont;
						background-color : #EEE5D7;
						margin-left : 360px;
						margin-right : 460px;
						padding-left : 15px;
						padding-right : 15px;
						width : 240px;
						position : absolute;
						top : 810px;
				
				}
				#sBox p{
						font-size : 70%;
				}
				
				
				/*Bottom of Page; Twitter Link, Search Bar*/
				footer{
						
						font-size : 90%;
						background-color : #AEA982;
				}
				
				footer a{
						
						color : black;
						text-decoration : none; 
				}
				
				#look{
				
						font-family : titleFont;
						padding-top : 40px;
						padding-left : 50px;
				}
				
				#bottomRight{
						
						margin-top : -9%;
						padding-left : 700px;
						padding-bottom : 5px;
				}
				#bottomRight span{
						
						padding-top : 40px;
						position : absolute;
				}
				#bottomRight p{
						
						margin-top : 2%;
				}
				
				
				
				/*Diffrent Imported Font Fases*/
				@font-face {
    				font-family: mainLogo;
    				src: url(fonts/Cantarell-Bold-webfont.woff);
    		}
				@font-face {
				
						font-family: mainPhrase;
						src: url(fonts/Cantarell-BoldOblique-webfont.woff);
				}
				@font-face {
				
						font-family: titleFont;
						src: url(fonts/Cantarell-Regular-webfont.woff);
				}
				@font-face {
				
						font-family: mainFont;
						src: url(fonts/Cardo99s-webfont.woff);
				}